body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.app_container {
  width: 80%;
  border: gainsboro solid 1px;
  overflow-y: scroll;
}
