@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* { color: white; }
button:active,button:focus { outline: none; }
audio:active,audio:focus { outline: none; }

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #212121;
}

header {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  width: 85%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(39, 39, 39);
  border-radius: 5px;
  color: white;
  font-family: 'Audiowide', cursive;
  font-size: 4vw;
}

/* .container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.desciption-container {
  height: 50vh;
  border-radius: 7px;
  /* box-shadow: 0px 0px 12px #000000; */
}
.desciption-container .nav-link {
  color: #32e0c4;
  font-size: 1.5vw;
}
.desciption-container .nav-item .active {
  color: #212121;
}
.desciption-container p {
  height: 50vh;
  padding: 30px 20px 20px 20px;
  font-size: 2.3vw;
  color:#0d7377;
  background: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.desciption-container p strong {
  color:#212121;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn {
  width: 15vw;
  padding: 10px 0 10px 0;
  border: #0d7377 solid 1px;
  border-radius: 7px;
  color: #0d7377;
  transition: ease-in 0.2s;
  font-size: 2vw;
  outline: none;
}
.primary-btn:hover {
  background: #0d7377;
  color: white;
  transition: ease-in 0.2s;
  cursor: pointer;
}
.primary-btn:disabled {
  border: none;
  background: grey;
  color: white;
} .primary-btn:disabled:hover {
  background: grey;
  transition: none;
  cursor: not-allowed;
}

.secondary-btn {
  padding: 3px 8px 3px 8px;
  border: #0d7377 solid 1px;
  border-radius: 5px;
  color: #0d7377;
  transition: ease-in 0.2s;
  font-size: 2vw;
  outline: none;
}
.secondary-btn:hover {
  background: #0d7377;
  color: white;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.back-btn {
  padding: 3px 8px 3px 8px;
  background: #0d7377;
  border: #0d7377 solid 1px;
  color: white;
  font-size: 2vw;
  outline: none;
}

.editor-container .tab-btn, .preview-container .tab-btn  {
  padding: 3px 8px 3px 8px;
  margin-top: 10px;
  background: transparent;
  border: none;
  color: #0d7377;
  /* color: #32e0c4 */;
  font-size: 2vw;
  outline: none;
}

.editor-container ul, .preview-container ul  {
  border-bottom: gainsboro solid 1px;
}

.editor-container .nav .active, .preview-container .nav .active  {
  padding: 3px 8px 3px 8px;
  border: #0d7377 solid 1px;
  color: #0d7377;
  font-size: 2vw;
  outline: none;
  background: white;
}

.special-tab-content {
  width: 100%;
  height: 50vh;
  /* border: gainsboro solid 1px; */
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio_container {
  width: 100%;
  height: 48vh;
  overflow-y: scroll;
  border: rgb(31, 31, 31) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #00000080;
}

video {
  width: 95%;
  height: auto;
  border: #0d7377 solid 1px;
  outline: none;
}

form {
  margin-left: 20px;
  padding: 20px;
  display: inline;
  border: rgb(31, 31, 31) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #00000080;
}

input {
  font-size: 2vw;
  color: rgb(29, 29, 29);
}

#event_form_container button {
  padding: 2px 8px 2px 8px !important;
  margin-left: 10px;
}

.event_list_container {
  width: 100%;
  height: 48vh;
  overflow-y: scroll;
  border: rgb(31, 31, 31) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px #00000080;
}

.dropdown-menu {
  background: rgb(39, 39, 39);
  color: white;
}

.dropdown-menu button {
  background: transparent;
  border: none;
  padding: 10px;
}
.dropdown-menu button:hover {
  color: #32e0c4;
}